<div class="container right-column">

  <p class="date--title">TODAY</p>

  <ul>
    <li class="daily--link">
      <a href="https://conversio.com/deep-dive/increase-customer-lifetime-value/" class="main--link">How Ecommerce Brands can Increase Customer Lifetime Value 📌 </a>
        <br />
      <span class="source">Conversio • Must read</span>
    </li>

    <div sheetsu="https://sheetsu.com/apis/v1.0/a2533b00323b" sheetsu-sheet="Sorted" sheetsu-sheet="Sorted"  sheetsu-search='{"date": "<%= (Date.today).strftime('%B %d') %>"}'>
      <li class="daily--link">
        <a href="{{url}}" class="main--link">{{category}} {{title}}</a>
          <br />
        <span class="source">{{source}} • {{date}}</span>
      </li>
    </div>
  </ul>

  <br />

  <p class="date--title"><%= (Date.today - 1.days).strftime('%B %d') %></p>

    <ul>
    <div sheetsu="https://sheetsu.com/apis/v1.0/a2533b00323b" sheetsu-sheet="Sorted" sheetsu-search='{"date": "<%= (Date.today - 1.days).strftime('%B %d') %>"}'>
      <li class="daily--link">
        <a href="{{url}}" class="main--link">{{category}} {{title}}</a>
          <br />
        <span class="source">{{source}} • {{date}}</span>
      </li>
    </div>
  </ul>

  <br />

  <p class="date--title"><%= (Date.today - 2.days).strftime('%B %d') %></p>

    <ul>
    <div sheetsu="https://sheetsu.com/apis/v1.0/a2533b00323b" sheetsu-sheet="Sorted" sheetsu-search='{"date": "<%= (Date.today - 2.days).strftime('%B %d') %>"}'>
      <li class="daily--link">
        <a href="{{url}}" class="main--link">{{category}} {{title}}</a>
          <br />
        <span class="source">{{source}} • {{date}}</span>
      </li>
    </div>
  </ul>

  <br />

  <p class="date--title"><%= (Date.today - 3.days).strftime('%B %d') %></p>

    <ul>
    <div sheetsu="https://sheetsu.com/apis/v1.0/a2533b00323b" sheetsu-sheet="Sorted" sheetsu-search='{"date": "<%= (Date.today - 3.days).strftime('%B %d') %>"}'>
      <li class="daily--link">
        <a href="{{url}}" class="main--link">{{category}} {{title}}</a>
          <br />
        <span class="source">{{source}} • {{date}}</span>
      </li>
    </div>
  </ul>

  <br />

  <p class="date--title"><%= (Date.today - 4.days).strftime('%B %d') %></p>

    <ul>
    <div sheetsu="https://sheetsu.com/apis/v1.0/a2533b00323b"  sheetsu-sheet="Sorted" sheetsu-search='{"date": "<%= (Date.today - 4.days).strftime('%B %d') %>"}'>
      <li class="daily--link">
        <a href="{{url}}" class="main--link">{{category}} {{title}}</a>
          <br />
        <span class="source">{{source}} • {{date}}</span>
      </li>
    </div>
  </ul>

  <br />

  <p class="date--title"><%= (Date.today - 5.days).strftime('%B %d') %></p>

    <ul>
    <div sheetsu="https://sheetsu.com/apis/v1.0/a2533b00323b"  sheetsu-sheet="Sorted" sheetsu-search='{"date": "<%= (Date.today - 5.days).strftime('%B %d') %>"}'>
      <li class="daily--link">
        <a href="{{url}}" class="main--link">{{category}} {{title}}</a>
          <br />
        <span class="source">{{source}} • {{date}}</span>
      </li>
    </div>
  </ul>

  <br />

  <p class="date--title"><%= (Date.today - 6.days).strftime('%B %d') %></p>

    <ul>
    <div sheetsu="https://sheetsu.com/apis/v1.0/a2533b00323b"  sheetsu-sheet="Sorted" sheetsu-search='{"date": "<%= (Date.today - 6.days).strftime('%B %d') %>"}'>
      <li class="daily--link">
        <a href="{{url}}" class="main--link">{{category}} {{title}}</a>
          <br />
        <span class="source">{{source}} • {{date}}</span>
      </li>
    </div>
  </ul>

  <br />

  <div><%= link_to "View older links", all_path, :class => "older--link" %> 📋</div>



  <hr style="border: 0;"/>

  <br class="clear" />

</div>
