<!DOCTYPE html>
<html>
<head>
  <title>Feed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700" rel="stylesheet">
  <link href="https:///cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:none; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
      #mc_embed_signup input.email {border: 1px solid #d5d5d5;border-radius:0px; height: 40px;}
      #mc_embed_signup .button {height: 40px; border-radius: 0px;background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); font-family: 'Fira Sans', sans-serif;font-weight: 700; font-size: 15px;
      } #mc_embed_signup .button:hover { background-image: linear-gradient(to right, #4facfe 100%, #00f2fe 100%);}
    </style>
  <script src="https://script.sheetsu.com/"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
  </script>
</head>

<body>

<div class="main--box">
  <div class="col-md-6 col-md-offset-3">
    <h3 class="main--title text-center" >eCommerce Daily ☕📈</h3>
    <p class="main--description text-center">The best articles on eCommerce growth, every day.</p>
      <br />
    <div class="text-center" id="mobile-invisible">
      <img src="https://logo.clearbit.com/kissmetrics.com?size=30&format=png" class="source--logos"></a>
      <img src="https://logo.clearbit.com/shopify.com?size=30&format=png" class="source--logos">
      <img src="https://logo.clearbit.com/conversio.com?size=30&format=png" class="source--logos">
      <img src="https://logo.clearbit.com/conversionxl.com?size=30&format=png" class="source--logos"><img src="https://logo.clearbit.com/adespresso.com?size=30&format=png" class="source--logos"><img src="https://logo.clearbit.com/ecommercefuel.com?size=30&format=png" class="source--logos">
      <img src="https://logo.clearbit.com/practicalecommerce.com?size=30&format=png" class="source--logos">
      <img src="https://logo.clearbit.com/socialtriggers.com?size=30&format=png" class="source--logos">
      <img src="https://logo.clearbit.com/divvit.com?size=30&format=png" class="source--logos">
      <div class="source--logos" style="border-radius: 100px; background-color: white; height: 30px; width: 30px; padding-top: 7px; display: inline-block; color:#00f2fe; font-weight: 700; font-family: 'Fira Sans', sans-serif; font-size: 12px;">63</div>
      <a href="https://gonzalo62.typeform.com/to/QwhWh0" data-toggle="tooltip" title="Submit a link 🔗" class="submit--link" data-placement="right">+</a>
    </div>
  </div>
</div>

<%= yield %>

  <br class="clearfix" />

  <footer class="footer navbar-fixed-bottom">
    <div class="container">
      <p><a href="https://twitter.com/gonsanchezs" class="twitter-follow-button" data-show-count="false">@gonsanchezs</a></p>
    </div>
  </footer>



  <script src="http://load.sheetsu.com"></script>
</body>
</html>
