<!DOCTYPE html>
<html>
<head>
  <title>eCommerce Daily</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700" rel="stylesheet">
  <link href="https:///cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:none; font:14px 'Fira Sans',sans-serif; width:100%; float: left;}
      #mc_embed_signup input.email {border: none;border-radius:0px; height: 40px; margin-bottom: 10px; display: inline; width: 202px; float: left;}
      #mc_embed_signup .button {height: 40px; border-radius: 0px;background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); font-family: 'Fira Sans', sans-serif;font-weight: 600; font-size: 16px; text-transform: uppercase; width: 48px; 
      } #mc_embed_signup .button:hover { background-image: linear-gradient(to right, #4facfe 100%, #00f2fe 100%);}


    </style>

    <meta name="google-site-verification" content="2N1zfcHB4I4vljJfy9KcfNz0rf4u-H3KR74_85yr9_o" />

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105219991-1', 'auto');
  ga('send', 'pageview');

</script>


  <script src="https://script.sheetsu.com/"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
  </script>
</head>

<body>

<div class="mobile--header" id="desktop-invisible">

  <h3 class="main--title" ><%= link_to 'eCommerce Daily 📈', root_path  %></h3>
  <p class="main--description">The best articles on eCommerce growth, every day.</p>

  <div id="mc_embed_signup">
    <form action="https://herokuapp.us8.list-manage.com/subscribe/post?u=32b602d9ab9d238ceb45e3f05&amp;id=29cf4d6bd8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="jon@thenightswatch.com" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_32b602d9ab9d238ceb45e3f05_29cf4d6bd8" tabindex="-1" value="">
          </div>
          <input type="submit" value="👉" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
        </form>
    </div>

    <br class="clearfix"/>
      
    </div> 

<div class="left-column" id="mobile-invisible">
  <div>
  
    <h3 class="main--title" ><%= link_to 'eCommerce Daily 📈', root_path  %></h3>
    <p class="main--description">The best articles on eCommerce growth, every day.</p>
      <br />

      <p class="email--cta">Receive a carefully hand-curated list of the <span style="border-bottom: 2px solid #4facfe;">5 best links</span> every Friday 💌</p>

    <div id="mc_embed_signup">
      <form action="https://herokuapp.us8.list-manage.com/subscribe/post?u=32b602d9ab9d238ceb45e3f05&amp;id=29cf4d6bd8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="jon@thenightswatch.com" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_32b602d9ab9d238ceb45e3f05_29cf4d6bd8" tabindex="-1" value=""></div>
          <input type="submit" value="👉" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div> 

<!--

    <div id="mobile-invisible">
      <img src="https://logo.clearbit.com/kissmetrics.com?size=30&format=png" class="source--logos"></a>
      <img src="https://logo.clearbit.com/shopify.com?size=30&format=png" class="source--logos">
      <img src="https://logo.clearbit.com/conversio.com?size=30&format=png" class="source--logos">
      <img src="https://logo.clearbit.com/conversionxl.com?size=30&format=png" class="source--logos"><img src="https://logo.clearbit.com/adespresso.com?size=30&format=png" class="source--logos"><img src="https://logo.clearbit.com/ecommercefuel.com?size=30&format=png" class="source--logos">
      <img src="https://logo.clearbit.com/practicalecommerce.com?size=30&format=png" class="source--logos">
      <img src="https://logo.clearbit.com/socialtriggers.com?size=30&format=png" class="source--logos">





      <img src="https://logo.clearbit.com/divvit.com?size=30&format=png" class="source--logos">
      <div class="source--logos text-center" style="border-radius: 100px; background-color: white; height: 30px; width: 30px; padding-top: 7px; display: inline-block; color:#00f2fe; font-weight: 700; font-family: 'Fira Sans', sans-serif; font-size: 12px;">63</div>
      <a href="https://gonzalo62.typeform.com/to/QwhWh0" data-toggle="tooltip" title="Submit a link 🔗" class="submit--link" data-placement="right">+</a>
    </div>

    <br />

-->

    <div class="twitter--box">

    <a href="https://twitter.com/ecommercedailyy" class="twitter-follow-button navbar-fixed-bottom" data-show-count="false">@ecommercedailyy</a>   

      </div>

  </div>
</div>

<%= yield %>

  <br class="clearfix" />

  <footer class="footer navbar-fixed-bottom">
    <div class="container col-md-6 col-md-offset-3 text-center twitter--box">

    </div>
  </footer>



  <script src="http://load.sheetsu.com"></script>
</body>
</html>
